
.esprimero{
color: greenyellow;
}

h4{
    color: maroon;
    margin-left: 40px;
}
.essegundo{
    color:tomato;
    display: block;
}
#segundoh{
color:green;
    }
#elquinto{
color   : red;
}
#primerparrafo{
    color: darkgreen;
    text-align: center;
}
#se{
    color: coral;
    text-align: center;
}

img{
    text-align: center;
}